POSTGRES_DB=fiscalmove_fms
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

DB_URL=jdbc:postgresql://db:5432/fiscalmove_fms
DB_USER=postgres
DB_PASSWORD=postgres
DB_POOL_MIN=2
DB_POOL_MAX=10

MOTOR_FISCAL_BASE_URL=http://host.docker.internal:8081
MOTOR_FISCAL_API_KEY=change-me
MOTOR_FISCAL_TIMEOUT_MS=5000
